/* globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set custom theme variables */
:root {
  --bg-color: #e8e9ec;
  --caret-color: #262a3f;
  --main-color: #2d539e; /* Main text color */
  --main-bg-color: #2d539e; /* Main background color */
  --sub-color: #adb1c4; /* Sub text color */
  --sub-alt-color: #ccceda;
  --text-color: #2d539e;;
  --error-color: #cc517a;
  --error-extra-color: #cc3768;
  --colorful-error-color: #cc517a;
  --colorful-error-extra-color: #cc3768;
  --add-habit-text-color: #e8e9ec;
}

/* Apply custom theme colors */
body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--main-bg-color);
  color: var(--bg-color);
}


h1, h2, h3, h4, h5, h6, p, span, ul, li {
  color: var(--text-color);
}

input[type="checkbox"]:checked {
  background-color: #d1d0c5; /* This line remains unchanged as per your request */
}

.habit-item {
  transition: transform 0.2s, border-radius 0.2s, background-color 0.2s;
}

#trash-bin {
  color: var(--main-color);
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

#trash-bin.dragging-over {
  color: red;
}

.habit-item.dragging {
  opacity: 0.5;
}

.habit-item-placeholder {
  height: 50px;
  background-color: var(--sub-color);
  margin-bottom: 10px;
  opacity: 0;
  transition: transform 0.2s ease;
}

@keyframes moveStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 0;
  }
}
